<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Recoleta-Black.otf</string>
		<string>Recoleta-SemiBold.otf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchColor</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>MeetMemento needs microphone access to transcribe your journal entries using voice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MeetMemento uses speech recognition to convert your voice into text for journal entries.</string>
</dict>
</plist>
